@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 777px;
  height: fit-content;
  background-color: #3c6ab0;
  margin: 5rem auto;
  padding: 1rem;
  padding-bottom: 2rem;
}

#header {
  text-align: center;
}

.display {
  font-size: 3rem;
  width: 690px;
  height: 110px;
  margin: 2rem auto;
  border: 1px solid black;
  background-color: beige;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

#answer {
  width: 100%;
  height: 25%;
  text-align: right;
  font-size: 60%;
}

#display-button {
  text-align: right;
  width: 100%;
  height: 70%;
}

.buttons {
  display: grid;
  grid-template-areas:  'numbers operations'
                        'clean-up clean-up';

}

.numbers {
  /* width: 70%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: numbers;
}

.numbers .number {
  width: 84px;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin: 1rem auto;
}

.operations {
  /* width: 30%; */
  margin: 1rem;
  grid-gap: 1rem;
  display: grid;
  grid-template-areas:  'multiply divide'
                        'add subtract'
                        'zero equals';
  grid-area: operations;
}

.clean-up {
  grid-area: clean-up;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

.clean-up button {
  padding: 1rem;
}

button {
  font-size: 3rem;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#equals {
  grid-area: equals;
  background: #03A900;

}

#zero {
  grid-area: zero;
  background: #000;
  color: #fff;
}
